html,
body,
div,
form,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre
{


    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #130e4d;
}
p{
    margin: 0!important;
}
ul {
    list-style: none;
    padding: 0;

}
a{
    text-decoration: none;
    color: #130e4d;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    text-align: left;
    vertical-align: top;
}

img
{
    border: 0;
}

/* custom classes */

.flex{
    display: flex;
}
.center{
    text-align: center;
}
.hide{
    display: none;
}
.hide-opacity{
    opacity: 0;
}
.show{
    display: block;
}
.show-opacity{
    opacity: 1;
}
.box{
    padding: 20px;
    border: solid 1px #676E8A ;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.error{
    color: red ;
}
.btn{
    padding: 10px;
}
.pd{
    padding: 10px;
}
.pd-l{
    padding: 0 10px;
}
/* color classes */
.light{
    color:#676E8A ;
}
.dark{
    color:#110A57 ;
}
.flex-cc{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.flex-ccc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.flex-bw{
    display: flex;
    justify-content: space-between;
}
.flex-c{
    display: flex;
    justify-content: center;
}
.section{
    margin-top: 70px;
}
.bold{
    font-size: 1.3rem;
    color: #130e4d;
    font-weight: bold;
}